*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Cherry Cream Soda;
}
/* Page style */
body,html{
    height: 100%;
    margin: 0;
    background: #c4c4c4;
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    color: black;
}

/* Style for the footer */
#cont{
    min-height: 10%;
    background: #f2f2f2;
    display: none;
} 
#main{
    overflow: auto;
    padding-bottom: 100px;
}
#footer{
    background-color: #1e232b;
    padding: 5 5 0 5;
    position: relative;
    height: 100px;
    clear: both;
}
#footer .content{
    margin: 5px;
    color: white;
    padding: 5 5 0 5;
    font-size: 13px;
    text-align: center;
}
#footer p{
    color: white;
    font-size: 10;
    padding: 5 5 0 5;
    text-align: center;
}

/* Styling for the first paragraph */
#top{
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
/* image styling */
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
